.headContainer {
    max-width: 100%;
    height: 160px;
    text-align: center;
    background-image: url("../../images/Conctact.jpg");
    opacity: 0.8;
    filter: alpha(opacity=40);
    background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: 10px 10px 8px #888888;
}
.headContainerText {
    padding-top: 20px;
    font-family: Mulish;
    font-size: xxx-large;
    font-weight: 400;
    color: rgb(99, 56, 56);
    letter-spacing: 0.2px;
}
.footerText {   
    font-family: Mulish !important;
}
.socialLocaition {
    font-size: 30px;
    color: red;
}
.socialLocaitionHead {
    font-size: 57px;
}
.phone {
    font-size: large;
}