.HeroSlider {
    margin: 0 !important;
    padding: 0 !important;
}

@media (max-width: 600px) {
    .slick-list {
        margin: 0 -1rem !important;
    }
}

@media (min-width: 600px) {
    .slick-list {
        margin: 0 -1.5rem;
    }
}


.Footer {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: #fff;
    font-family: Mulish;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 25%, rgba(4, 4, 134, 1) 77%, rgb(3, 9, 172) 100%);
}

.NavbarContainer {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 25%, rgba(4, 4, 134, 1) 77%, rgb(3, 9, 172) 100%);
}

.NavbarLogo {
    max-width: 90px;
    image-rendering: optimizeQuality !important;
}

.navbarButton {
    font-size: 14px !important;
    font-weight: 700 !important;
    font-family: Mulish !important;
    color: white;
    text-decoration: none;
}

.menuItemText {
    font-family: Mulish !important;
    text-transform: uppercase;
    font-size: 18px !important;
}

.menuItemLink {
    text-decoration: none !important;
    color: #67696f !important;
}

.NavbarDivider {
    width: 70%;
}

.blogCard {
    min-height: 500px;
    max-width: 350px;
    border-radius: 20px !important;
    margin: 0px 30px 30px 30px;
}

.blogCardHeader {
    background: rgba(255, 255, 255, 0.5) !important;
    backdrop-filter: blur(10px) !important;
    border-radius: 20px 20px 0px 0px !important;
    height: 70px;
    margin-top: -70px;
    z-index: 99;
}

.Cardimage {
    width: 400px;
    z-index: 9;
    border-radius: 10px 10px 0px 0px;
    background-color: #4B4B4B !important;
}

.Cardtext {
    font-family: 'Mulish' !important;
    font-style: normal !important;
    font-weight: 900 !important;
    font-size: 24px !important;
    line-height: 25px !important;
    text-transform: uppercase !important;
    padding-top: 22px;
    text-align: center;
}

.Cardtextcontent {
    font-family: 'Mulish' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 25px !important;
    margin-bottom: 10px !important;
}

.Cardbutton:hover {
    background-color: black !important;
    color: white !important;
}

.Cardbutton {
    color: black !important;
    border-radius: 15px !important;
    margin-left: 40px !important;
}

.blogCardData {
    background-color: #4B4B4B !important;
}

.WhatsappIcon {
    height: 60px;
    width: 60px !important;
    color: green;
    bottom: 40px;
    z-index: 100;
    position: fixed;
    right: 30px;
}

@media (max-width:600px) {
    .WhatsappIcon {
        width: 40px !important;
        height: 40px !important;
    }

    .aciklama {
        position: relative;
        display: inline-block;
    }
}

.aciklama::after {
    content: attr(data-title);
    position: absolute;
    bottom: 100%;
    padding: 8px;
    background: #eee;
    color: #333;
    opacity: 0;
    word-wrap: break-word;
    height: auto;
    width: 330%;
    -moz-box-shadow: 0 0 4px #222;
    -webkit-box-shadow: 0 0 4px #222;
    box-shadow: 0 0 4px #222;
    pointer-events: none;
    font-size: 16px;
    font-family: Mulish;
    border-radius: 8px;
}

.aciklama:hover::after {
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
    pointer-events: auto;
}

.HomePacketSection {
    background-color: #000;
    text-align: center;
    padding-bottom: 1.3rem;
    background-image: url(../images/homepacketsection.jpg);
    background-position: 50% 78%;
}